<div id="wrapper" class="clearfix homepage-styles">	

	<div id="login-wrap" class="center-page">	

		<h1 id="homepage-logo">Matchbox</h1>

		<p id="homepage-tagline">Find the right person at the right time</p>

		<div id="login-container">

			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="homepage-field">
			  <%= f.email_field :email, :autofocus => true, class: "homepage-input", :placeholder => "email" %></div>

			  <div class="homepage-field">
			  <%= f.password_field :password, class: "homepage-input", :placeholder => "password" %></div>

			  <div class="homepage-field">
			  	<%= f.text_field :profile_name, class: "homepage-input", :placeholder => "username" %></div>

			  <div><%= f.submit "Sign up for free" %></div>
			<% end %>

		</div>

		<%= render "devise/shared/links" %>

	</div>

</div>
