<!DOCTYPE html>
<html>
<head>
  <title>Matchbox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav id="main-nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div id="branding"><a href="#"><h1>Matchbox</h1></a></div>
		<a id="right-menu" class="box-shadow-menu right-menu" href="#right-menu"></a> 
	</div>
</nav>

<div class="container-fluid">

	<div class="row">

		<div class="col-xs-12 col-sm-6 col-md-8"></div>
			
		<div id="status-column" class="col-xs-6 col-md-4">	
			<%= yield %>
		</div>
	</div>

</div>
<div id="sidr-right">
	<div id="right-menu">
		<ul>
			<li><%= link_to "What's going on now", statuses_path %></li>
		</ul>
	</div>
</div>



</body>
</html>
